.project {

	.project-description {
		
		.cell {
			margin: auto;

			p {
				padding: 0px 100px 0px 100px;
			}
		}

		.image-cell {
			background-color: $main-color;
    		display: flex;

    		img {
    			padding: 40px;
    		}
		}

	}
}